<h4>Listado Personajes</h4>
<ul class="list-group">
  <li *ngFor="let charater of charaterList;
    let index = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd" class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-dark': isLast,
      'list-group-item-primary': isEven
    }">

    <div>
      <span class="text-primary">{{index+1}}. </span>

      <span>{{charater.name}} - </span>

      <strong> Power: </strong>

      <span>{{charater.power}}</span>
    </div>
    <button class="btn btn-danger" (click)="onDeleteCharater(charater.id!)">X</button>
    <!--
      Es el primero
      <span> Es el primero: {{isFirst}}</span>

      Es el ultimo
      <span> Es el ultimo: {{index===charaterList.length-1}}</span>

      Es par
      <span> Es par: {{index===charaterList.length-1}}</span>
      <br>
      Es impar
      <span> Es impar: {{index===charaterList.length-1}}</span>-->
  </li>
</ul>
